
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #eeee;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    padding: 22px;
   
    
    box-shadow: 0px 2px 2px 2px rgb(181,179,179);
}

nav .logo{
    margin-left: 22px;
    font-size: 24px;
    
}
ul{
    margin-right: 45px;
    margin-top: 7px;
}
nav ul li{
    list-style-type: none;
}
ul li a{
    display: inline;
    margin-inline: 22px;
    font-size:6px;
   margin-right: 1px;
}
ul li i{
    font-size: 8px;
  
}
.maintext{
     margin-top: 150px;
   
    line-height:50px;
}
.main{
    display: flex;
    justify-content: space-around;
    
}
img{
    margin-top: 100px;
}
.main img{
    width: 500px;
}
.main img:hover{
    width: 600px;
    transition: 3s;
    transform-origin: top;
}

h2{
    font-family:'Lato';
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: rgb(22, 149, 149);
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    font-size: 45px;
}
button{
    background-color: rgb(22, 147, 147);
    color: white;
    padding: 5px;
    width: 130px;
    font-family: 'Lato';
    border: none;
    font-size: 15px;
}
ul li a:hover{
    border-bottom: 3px solid black;
    cursor: pointer;
  
}
ul li #home{
    color: rgb(5, 167, 167);
}
.maintext button:hover{
    background-color:transparent;
}
ul li i:hover{
    color: gray;
    cursor: pointer;
}

.head1 h1{
   
    text-align: center;
    margin-top: 150px;
    font-family: 'Lato';
    /* background-color: lightcoral; */
}
.card img:hover{
    width: 350px;
    
    transition: 3s;
    transform-origin: center;
}
.trend1 h1{
    margin-top: 700px;
}

.crd{
   
   margin-left: 10px;
  margin-left: 150px;
  line-height: 30px;
  
   }
   

.crd img{
    width: 300px;
    border-radius: 20px;
    
}
.crd img:hover{
    transform-origin: top;
}
.crd i{
    color: darkorange;
    
}
.card{
    display:flex;
    float: left;
    justify-content: center;
}

@media(min-width:576px){
    ul li a{
        font-size: 16px;
    }
    ul li i{
        font-size: 16px;
    }
   
}
.blog{
    display: flex;
    
    justify-content: center;
    width: 500px;
    height: 300px;
    margin-left: 80px;
    
   
}
.blog img{
   
    display: flex;
    justify-content: center;
    padding: 10px; 
   width: 350px;
  height: 250px;
  margin-left: 100px;
  border-radius: 11px;
  
}

.blogtext{
    
    margin-top:120px;
    line-height: 25px;
}
.blogtext a{
    width: 120px;
    padding: 4px;
    height: 18px;
    line-height: 5px;
    background-color: rgb(4, 136, 136);
    color: white;
   border-radius: 5px;
   margin-top: 22px;
}
.trend2 h1{
    margin-top: 650px;
    text-align: center;
    font-family: 'Lato';
    
}
.blogtext h2 p{
    margin-left:20px;
    display: flex;
    float: left;
}
.blog:hover{
    width: 40%;
    height: 40%;
    transition: 3s;
    transform-origin: center;
}
.letter{
    display: flex;
    background-color: rgb(6,6,47);
    justify-content: space-between;   
    color: white;
    padding: 15px;
    margin-top: 500px;
    width: 1500px;
  
}
.letter h3{
    font-size: 23px;
    color: white;
}

.inp{
    display: flex;
}
.inp input{
  width: 220px;
  height: 28px;
  outline: none;
 font-size: 15px;
 width: 100%;
}
.inp button{
    height: 31px;
}
.footer{
    display: flex;
    float: left;
   justify-content: space-around;
   margin-left: 90px;
   
}
.footer .footertext{
    margin-top: 50px;
    margin-inline: 30px;
}
.footer h2{
    font-size: 28px;
    font-weight:900;
}
.footer p{
    padding: 5px;
}
.me .para{
    display: flex;
    justify-content: center;
    padding: 55px;
   
}
.me{
    display: flex;
    justify-content: center;
    width: 800px;
    background-color: #fff;
    padding: 33px;
    margin-left: 18%;
    margin-top: 5%;
}



.content{
    background-color: rgb(1,1,42);
    height: 90px;
    margin-top: 700px;
    color: white;

}
